<!-- Default box -->
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Alunos</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>

    <!-- search -->
    <div class="sidebar-form">
      <div class="input-group">
        <input [(ngModel)]="query" (keyup)="searchAlunos()" class="form-control" placeholder="Pesquisar..." type="text">
        <span class="input-group-btn">
          <button (click)="searchAlunos()" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
    <!-- /.search -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="dataTables_wrapper form-inline dt-bootstrap">
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-hover dataTable" role="grid">
            <thead>
              <tr>
                <th rowspan="1" colspan="1">Registro Acadêmico</th>
                <th rowspan="1" colspan="1">Nome</th>
                <th rowspan="1" colspan="1">E-mail</th>
                <!--
                <th rowspan="1" colspan="1">Telefone 1</th>
                <th rowspan="1" colspan="1">Telefone 2</th>
                <th rowspan="1" colspan="1">Endereços</th>
                -->
                <th rowspan="1" colspan="1">Disciplinas Cursadas</th>
                <th rowspan="1" colspan="1">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd" *ngFor="let aluno of listAlunos">
                <td>{{aluno?.ra_aluno}}</td>
                <td>{{aluno?.nome_aluno}}</td>
                <td>{{aluno?.email_aluno}}</td>
                <!--
                <td>{{aluno?.telefone1_aluno}}</td>
                <td>{{aluno?.telefone2_aluno}}</td>
                <td>{{aluno?.endereco_aluno}}</td>
                -->
                <td>{{aluno?.disciplinasCursadas_aluno}}</td>
                <td>
                  <button type="button" class="btn btn-info" (click)="alterarAluno(aluno?.id)"><i class="fa fa-edit"></i> Editar</button>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" value="{{aluno?.id}}" (click)="setIdAlunoDeletar(aluno?.id)"><i class="fa fa-trash"></i> Remover</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th rowspan="1" colspan="1">Registro Acadêmico</th>
                <th rowspan="1" colspan="1">Nome</th>
                <th rowspan="1" colspan="1">E-mail</th>
                <!--
                <th rowspan="1" colspan="1">Telefone 1</th>
                <th rowspan="1" colspan="1">Telefone 2</th>
                <th rowspan="1" colspan="1">Endereços</th>
                -->
                <th rowspan="1" colspan="1">Disciplinas Cursadas</th>
                <th rowspan="1" colspan="1" class="th-table-opcoes">Opções</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

<div id="myModal" class="modal fade" data-backdrop="false" role="dialog">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-sm text-center vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Deseja realmente excluir?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deletarAluno()"><i class="fa fa-trash"></i> SIM</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> NÃO</button>
        </div>
      </div>
    </div>
  </div>
</div>