/* You can add global styles to this file, and also import other style files */
html {
    background-color: #222D32 !important;
}

html, body {
    position: fixed !important;
    top: 0 !important; 
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    min-height: 100% !important;
}