<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">GERENCIAMENTO ACADÊMICO</li>
      <li routerLinkActive="active">
        <a role="button" [routerLink]="['/aluno/quadro-avisos']">
          <i class="fa fa-edit"></i>
          <span>Quadro de Avisos</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" [routerLink]="['/aluno/disciplinas-matriculadas']">
          <i class="fa fa-book"></i>
          <span>Disciplinas Matriculadas</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" [routerLink]="['/aluno/cronograma-academico']">
          <i class="fa fa-calendar"></i>
          <span>Cronograma Acadêmico</span>
        </a>
      </li>

      <li class="header">DOCUMENTAÇÃO DO ALUNO</li>
      <li>
        <a role="button">
          <i class="fa fa-circle-o text-blue"></i>
          <span>Histórico Escolar</span>
        </a>
      </li>
      <li>
        <a role="button">
          <i class="fa fa-circle-o text-blue"></i>
          <span>Currículo Acadêmico</span>
        </a>
      </li>
      <li>
        <a role="button">
          <i class="fa fa-circle-o text-blue"></i>
          <span>Contrato de Matrícula</span>
        </a>
      </li>
      <li>
        <a role="button">
          <i class="fa fa-circle-o text-blue"></i>
          <span>Relatório Educacional</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>