<div class="box box-solid">
  <div class="box-header with-border">
    <h4 class="box-title">Quadro de Avisos</h4>
  </div>
  <div class="box-body">
    <!-- the events -->
    <div id="external-events">
      <div class="external-event bg-green" style="position: relative;">Nova Palestra Sobre IT</div>
      <div class="external-event bg-yellow" style="position: relative;">Iniciação Científica</div>
      <div class="external-event bg-aqua" style="position: relative;">Atividades Acadêmicas</div>
      <div class="external-event bg-light-blue" style="position: relative;">Revisão Semestral de Conteúdo</div>
      <div class="external-event bg-red" style="position: relative;">Avaliação Institucional</div>
    </div>
  </div>
  <!-- /.box-body -->
</div>